body {
    font-family: "Roboto Mono", monospace;
    font-size: 2vh;
    background-color: cornflowerblue;
}

header nav {
    background-color: rgb(118, 118, 118)
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

img {
    height: 24px;
}

nav a {
    text-decoration: none;
    color: #fff;
  }

nav a:hover {
    background-color: #005f5f;
    transition: .3s background-color;
}

.profileEntry {
    background-color: cornflowerblue;
}

.delete, .update {
    color: #fff;
    font-size: 1.6vh;
    cursor: pointer;
}

.update:hover {
    background-color: rgb(95, 140, 223);
    transition: .3s background-color;
}

.delete:hover {
    background-color: rgb(223, 95, 95);
    transition: .3s background-color;
}

.where {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(181, 196, 223);
    border-radius: 3px;
}

.where-container {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.feedEntry {
    border: rgb(194, 212, 247) 3px groove;
    background-color: rgb(181, 196, 223);
    border-radius: 10%;
    padding: 15px;
    margin-bottom: 5px;
}