header form {
    margin-top: 40px;
    text-align: center
}

header nav {
    background-color: grey
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

body {
    background-color: cornflowerblue
}

.results {
    display: inline-block
}

p {
    background-color: rgb(150, 177, 228);
    background-clip: content-box
}

.id {
    display: none
}

h2, h3 {
    text-align: center;
    color: darkred
}

.line {
    height: 20%;
}

footer {
    display: none;
    text-align: right;
    text-decoration: underline
}

footer:hover {
    color: darkred
}