header form {
    margin-top: 40px;
    text-align: center
}

header nav {
    background-color: rgb(173, 173, 173)
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
  }

nav a:hover {
    background-color: #005f5f;
    transition: .3s background-color;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 2vh;
    /* background-color: cornflowerblue */
}

.results {
    display: inline-block
}

p {
    background-color: rgb(150, 177, 228);
    background-clip: content-box
}

.content p {
    margin-top: 0px
}

.name {
    font-size: 3vh
}

.been, .togo {
    color: #fff
}

.been:hover, .togo:hover {
    background-color: rgb(95, 140, 223);
    transition: .3s background-color;
}

.id {
    display: none
}

h2, h3 {
    text-align: center;
    color: darkred
}

.line {
    height: 20%; 
}

footer {
    display: none;
    padding-top: 20px;
    margin-right: 0px;
    margin-left: auto;
    /* text-align: right; */
    text-decoration: underline
}

footer:hover {
    color: darkred
}